* {
    margin: 0;
    padding: 0;
    background-color: #f64d96;
}

header {
    margin: 20 auto;
    padding: 25px;
    text-align: center;
    height: 80px;
    border: black solid 1px;
    
    
}

header h1 {
    position: absolute;
    left: 30%;
    top: 7%;
    width: 30%;
}

header img {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 20%;
    top: 3%
}



#imagen img{
    width: 50%;
    height: 40%;
    
}


#beneficios {
    background-color: blue;
}

.formulario {
    width: 30%;
    height: 320px;
    padding-top: 5px;
    color: white;
    position: absolute;
    top: 30%;
    right: 10%;
    /* transform: translate(-50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%); */
    padding: 70px 30px;
}





.formulario h1 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 1.5em;
}

.formulario label {
    font-weight: bold;
    display: block;
}

.formulario input {
    width: 100%;
    margin-bottom: 20px;
    /* color: white; */
}

.formulario input[type="text"], .contenedor input[type="password"] {
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    outline: none;
    height: 40px;
    /* color: white; */
}

.formulario input[type="button"] {
    border: none;
    outline: none;
    height: 40px;
    font-size: 1.1em;
    background-color: red;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    /* color: white; */
}


.formulario input[type="button"]:hover {
    cursor: pointer;
    background-color: rgba(214, 104, 40, 0.76);
    /* color: white; */
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
    
}

.formulario a {
    text-decoration: none;
    display: block;
    color: darkgray;
    font-size: 0.8em;
    line-height: 20px;
}

.formulario a:hover {
    cursor: pointer;
    color: rgba(146, 11, 224, 0.925);
}

.formulario #mensaje {
    border: none;
    
}


.formulario .blanco {
    color: white;
}

.formulario .rojo {
    color: red;
}

.formulario .verde {
    color: green;
    font-size: 0.9em !important;
}

footer {
    text-align: center;
    margin: 10px;
    padding: 10px;

}

footer img {
    width: 50px;
    padding: 10px;
    
}

@media (max-width:1130px){
    .contenedor {
        display: block;
    }
}
